<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(cartProds.length > 0) { %>
            <ul class="cart__item-list">
                <% cartProds.forEach(cartProductData => { %>
                    <li class="cart__item">
                        <h1><%= cartProductData.title %></h1>
                        <h2>Quantity: <%= cartProductData.cartItem.quantity %></h2>
                        <span class="icon"></span>
                        <form action="/cart-delete-item" method="POST">
                            <button class="btn danger" type="submit">Remove</button>
                            <input
                                type="hidden"
                                value="<%= cartProductData.id%>"
                                name="productId"
                            >
                        </form>
                    </li>
                <% }) %>
            </ul>
            <hr>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <button type="submit" class="btn">Order Now!</button>
                </form>
            </div>
        <% } else { %>
            <p>No Products in Cart!!</p>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>