<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(orders.length > 0) { %>
            <ul class="cart__item-list">
                <% orders.forEach(order => { %>
                    <li class="cart__item">
                        <h1><%= order.id %></h1>
                        <ul class="cart__item-list">
                            <% order.products.forEach(product => { %>
                                <li class="cart__item">         
                                    <h1><%= product.title %></h1>
                                    <h2>Quantity: <%= product.orderItem.quantity %></h2>
                                </li>
                            <% }) %>
                        </ul>
                    </li>
                <% }) %>
            </ul>
            <hr>
            <div class="centered">
                <form action="/checkout" method="POST">
                    <button type="submit" class="btn">Check Out</button>
                </form>
            </div>
        <% } else { %>
            <p>No Orders!!</p>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>